html {
  cursor: url("cur.png"), default;
  font-family: "Open Sans", san-serif;

}

body {
  font-size: 1.3rem;
}

h1 {
  font-family: "Megrim", san-serif;
  font-size: 50px;
  border-bottom: solid;
  width: 100%;
  margin-bottom: 20px;
}
img {
  width: 800px;
  margin-bottom: 30px;
}
.marvel {
  width: 300px;
}
.vd {
  width: 375px;
  margin: 20px 100px 0 0;
}
p {
  width: 800px;
}
a {
  text-decoration: none;
  border-right: solid;
}
a:hover {
  text-decoration: underline;
}

.link {
  min-width: 186px;
  display: inline-block;
}

.h1 {
  display: none;
}

.header{
  font-size: 5rem;
  border-bottom: solid;
  position: fixed;
  left: 100px;
  padding-left: 10px;
  background: white;
  z-index: 100;
}
.head {
  height: 100vh;
  width: 100%;
  display: block;
}
nav {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  padding: 10px;
  border-top: solid;
  border-bottom: solid;
}

span {
  font-weight: 600;
  font-size: 1.4rem;
}

iframe {
  min-width: 375px;
  margin: 50px auto;
  display: block;
  border: solid 1px;

}

.sticky {
  position: fixed;
  top: 0;
  background: white;
  width: 980px;
}

#development {
  width: 400px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: block;
  margin: 100px;
  border: solid;
  background: black;
  border-radius: 50px;
  position: fixed;
}
.section {
  display: block;
  margin: 200px 0 400px 600px;
}

.vd {
  float: left;
}
.vc {
  height: 700px;
  margin: 30px 0;
  float: left;
  width: 400px;
}
.revision {
  font-size: 1.8rem;
}
.link-1 {
  border-left: solid;
}
.active{
	color: white;
	background-color: rgba(100,100,100,1);
}
