html {
  cursor: url("cur.png"), default;
  font-family: Megrim, san-serif;

}

body {
  width: 1000px;
  margin: 0 auto;
  border-right: solid;
  border-left: solid;
}

a {
  text-decoration: none;
  border-right: solid;
}
a:hover {
  text-decoration: underline;
}

.link {
  min-width: 186px;
  display: inline-block;
}

.h1 {
  display: none;
}

.header{
  font-size: 4rem;
  font-weight: 100;
  text-align: center;
}

nav {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  padding: 10px;
  border-top: solid;
  border-bottom: solid;
}

iframe {
  margin: 50px 150px;
  width: 700px;
}

.sticky {
  position: fixed;
  top: 0;
  background: white;
  width: 980px;
}

#strategy {
  margin-top: 50px;
}
.link-1 {
  border-left: solid;
}
.active{
	color: white;
	background-color: rgba(100,100,100,1);
}

@media (max-width: 400px) {
  body {
    width: 375px;
    border: none;
  }
  .sticky {
    width: 375px;
  }
  iframe{
    width: 375px;
    margin: 50px 0;
  }
  nav {
    display: none;
  }
  .link-1 {
    border-left: none;
  }
  .link {
    min-width: 80px;;
  }
  a {
    border: none;

  }

}
